---
layout: index
title: Ruby Midwest 2013 Overview
description: An overview of the Ruby Midwest 2013 conference in Kansas City.
published: true
style: swiss
transition: horizontal-slide
---

%section.slide
  %h1 Ruby Midwest 2013

%section.slide
  %h1 I Went to Kansas City and All I Got Was a Bunch of Knowledge

%section.slide
  %h2 RTFM

  %ul
    %li.slide
      :markdown
        My conference notes are posted [to Source](http://source.sportngin.com/page/show/716930-dev-blog)
    %li.slide
      :markdown
        Videos will be posted [to Confreaks](http://www.confreaks.com/events/rubymidwest2013)


%section.slide
  %h2 Takeaways

  %ul
    %li.slide Automate the bullshit.
    %li.slide Be nice. Be happy.
    %li.slide Learn!

%section.slide
  %h1 Automate the Bullshit

%section.slide
  %h2 PaymentSpring

  %p Found code reviews and keeping gems up-to-date cumbersome

  %ul.slide
    %li So they built tools to automate these tasks
    %li So now they do them a few times a week, easy as pie

%section.slide
  %h2 PaymentSpring

  %p Found that setting up servers and maintainig upgrades was time-consuming and prone to failure

  %ul.slide
    %li So they built tools to make it easier
    %li Make an image with dependencies
    %li Make another image with latest code
    %li Instant servers!
    %li Upgrade? Screw it. Boot new ones with updated dependencies!

%section.slide
  %h2 Mitchell Hashimoto

  %p Thought that setting up development laptops was too hard.

  %h3.slide Vagrant!

%section.slide
  %h2 You?

  %p What do you think is harder than it needs to be?

  %p.slide What can you do to make it better?

%section.slide
  %h1 Be Mad.

%section.slide
  %h1 Fix It.

%section.slide

%section.slide
  %h1 VAGRANT!

%section.slide
  %h2 No Seriously, Vagrant

  %h3 I am convinced this is the way forward

  %ul
    %li
      Too many variables
      %ul
        %li Ruby version
        %li MySQL version
        %li Node.js version
        %li homebrew, ports, compile
        %li Dependencies
        %li "Works on my machine"
        %li Mac OS X version
        %li.slide WINDOWS?!

%section.slide
  %h1 vagrant up

%section.slide
  %h2 Help me

  %p
    I'm tinkering with a project to use Vagrant to boot a functioning
    development environment.

  %h3
    :markdown
      [sportngin/development-environment](https://github.com/sportngin/development-environment/)

  %p.slide Pull requests welcome.

%section.slide
  %h1 Be Nice. Be Happy.

%section.slide
  %h2 Be Nice

  %ul
    %li Life is already hard enough.
    %li
      Be nice. It doesn't cost anything.
      %ul
        %li Actually listen
        %li What can you do to help someone learn something today?

%section.slide
  %h2 Be Happy

  %ul
    %li What frustrates you?
    %li No one is going to solve it if you sit and stew
    %li What can you do to make it better?

%section.slide
  %h1 Learn!

%section.slide
  %h2 Learn!

  %ul
    %li It's your responsibility to learn
    %li If you Google something, write it down as a flashcard
    %li Ask questions
    %li
      Embrace being new at something
      %ul
        %li It's OK to feel stupid
        %li Challenge yourself

%section.slide
  %h1 Questions?
