---
layout: index
title: Title of the Post
description: A brief description to appear on the presentations homepage.
published: false
style: sugar
transition: horizontal-slide
---

%section.slide
  %h1 Title Slide

%section.slide
  %h2 Section Title Slide

%section.slide
  %p Some content

  %ul
    %li And a list of something.
    %li Isn't this great?

